{% extends 'base.html.twig' %}

{% block title %}Plus de reservation disponible{% endblock %}

{% block body %}
    <h1 style="
        color: #3D312D;
        height: 100vh;
        width: 100vw;
        padding: 25%;">désolé nous somme complet</h1>

{% endblock %}
