{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Modifier ma réservations{% endblock %}

{% block body %}
    <h1>Edit Reservation</h1>

    {{ include('admin_reservation/reservation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_reservation') }}">back to list</a>

{% endblock %}
