<form method="post" action="{{ path('app_plats_delete', {'id': plat.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet element ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plat.id) }}">
    <button class="btn delete"><img src="{{ asset('img/delete.svg') }}" ></button>
</form>
