{% extends 'base.html.twig' %}

{% block title %}New Plats{% endblock %}

{% block body %}
    <h1>Create new Plats</h1>

    {{ include('carte/plats/_form.html.twig') }}

    <a href="{{ path('app_carte_indexedit') }}">back to list</a>
{% endblock %}
