{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Nouveau Plat{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/style-connexion.css') }}" rel="stylesheet"/> 
{% endblock %}


{% block body %}
    <h1>Ajouter un nouveau plat</h1>

    {{ include('carte/plats/_form.html.twig') }}

    <a href="{{ path('app_carte_indexedit') }}">back to list</a>
    
{% endblock %}
