{% extends 'base.html.twig' %}

{% block title %}Edit HeureMatins{% endblock %}

{% block body %}
    <h1>Edit HeureMatins</h1>

    {{ include('horaire/heure_matins/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_horaire') }}">back to list</a>

{% endblock %}
