<form method="post" action="{{ path('app_type_plats_delete', {'id': typeplat.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet éléments?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typeplat.id) }}">
    <button class="btn delete"><img src="{{ asset('img/delete.svg') }}" ></button>
</form>
