{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Ajouter image{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/style-connexion.css') }}" rel="stylesheet"/> 
{% endblock %}
        
{% block body %}

    <h1>Ajouter une Image</h1>

    {{ include('images/_form.html.twig') }}

    <a href="{{ path('app_images_index') }}">Retour</a>
{% endblock %}
